.table-palletesn {
	display: inline-block;
	margin: 2%;
	align-items: center;
}
.table-palletesn .custom-table {
	width: 100%;
}
.inline_buttom .btm_submit-common#btn_del_all {
	background: red;
}
.btm_submit-common.btn_del_device {
	background: red;
}
 
