.table-templates {
	display: inline-block;
	margin: 2%;
	align-items: center;
}
.table-templates .custom-table {
	width: 100%;
}
.inline_buttom .btm_submit-common.delete {
	background: red;
}

#block_models_list {
	height: 600px;
	overflow: auto;
	border-radius: 20px;
}
#block_btn {
	margin: 2px;
	display: inline-block;
}

#block_edit, #block_create 
{
	z-index: 1;
}


 [data-tooltip] 
 {
   position: relative; /* Относительное позиционирование */ 
 }

[data-tooltip]::after 
{
	content: attr(data-tooltip); /* Выводим текст */
	position: absolute; /* Абсолютное позиционирование */
	width: 800px; /* Ширина подсказки */
	left: 0; top: 0; /* Положение подсказки */
	background: #3989c9; /* Синий цвет фона */
	color: #fff; /* Цвет текста */
	padding: 0.5em; /* Поля вокруг текста */
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
	pointer-events: none; /* Подсказка */
	opacity: 0; /* Подсказка невидима */
	transition: 1s; /* Время появления подсказки */
	z-index: 2;
} 
[data-tooltip]:hover::after 
{
	opacity: 1; /* Показываем подсказку */
	top: 2em; /* Положение подсказки */
	z-index: 2;
}
