{% extends 'base.html' %}

{% block title %}
ASR - Поиск
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/find.css') }}">
{% endblock %}

{% block body %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<div class = 'container-common container'>

    <div class = "header-common">
        <h1>Поиск ASR</h1>
    </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class = "border-common">
            <form id = "asr_find" action = "#" method="post">
                <div  id = "error_box">
                </div><br>
                <input name = "asr_name" id = "asr_name" type="text" required class = "form-control-common" placeholder="Введите номер ASR:"><br>
                <div class = "captha_box" id = "captha_block_id">
                    {{ captcha_html(var_values.captcha)|safe }}
                </div><br>
                <button type="submit" class = "btm_submit-common">Найти</button>
            </form>
        </div>
        <div id = "all_result_block" class = "border-common">
            <div id = "load_anim_block">
                 <div class="loaded-anim container">
                    <div class="box">
                      <div class="skeleton">
                        <div class="skeleton-left">
                            <div class="line h17 w40 m10"></div>
                            <div class="line"></div>
                            <div class="line h8 w50"></div>
                            <div class="line  w75"></div>
                        </div>
                        <div class="skeleton-right">
                          <div class="square"></div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div id = "asr_result_block">
                <form id = "asr_result" action = "#" method="post">
                    <div class = "table-asr" id = "table_asr_id">
                        <table class = "custom-table">
                           <tr>
                                <th>Название параметра:</th>
                                <th>Текущее значение</th>
                           </tr>
                            <tr><td><span class = "label">Название:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_asr_name }}">-</span></td></tr>
                             <tr><td><span class = "label">ID ASR в БД:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_asr_id }}">-</span></td></tr>
                             <tr><td><span class = "label">ID модели телевизора в БД:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_tv_fk }}">-</span></td></tr>
                            <tr><td><span class = "label">Название модели:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_fild_model_name }}">-</span></td></tr>
                            <tr><td><span class = "label">Тип модели:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_fild_model_type_name }}">-</span></td></tr>
                             <tr><td><span class = "label">Номер линии:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_line_id }}">-</span></td></tr>
                             <tr><td><span class = "label">WIFI Модуль:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_wf }}">-</span></td></tr>
                             <tr><td><span class = "label">BT Модуль:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_bt }}">-</span></td></tr>
                             <tr><td><span class = "label">MAC:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_mac }}">-</span></td></tr>
                            <tr><td><span class = "label">Номер панели:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_panel }}">-</span></td></tr>
                            <tr><td><span class = "label">Номер стекла:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_oc }}">-</span></td></tr>
                            <tr><td><span class = "label">Номер OPS:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_ops }}">-</span></td></tr>
                            <tr><td><span class = "label">Номер материнской платы:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_mb }}">-:</span></td></tr>
                            <tr><td><span class = "label">Номер блока питания:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_pb }}">-</span></td></tr>
                            <tr><td><span class = "label">Номер TCON:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_tcon }}">-</span></td></tr>
                            <tr><td><span class = "label">Дата сканировки:</span></td><td><span class = "value" id = "{{ var_values.vars_dict.tv_field_scan_date }}">-</span></td></tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
</div>

<!--    <tr><td>data</td><td>ip</td></tr>-->
{% endblock %}
{% block js %}
<script type = "module" src="{{ url_for('static', filename = '/js/engine/modules/asr/find.js') }}"></script>
{% endblock %}

