{% extends 'base.html' %}
{% block title %}
Авторизация в аккаунт пользователя
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/login.css') }}">
{% endblock %}

{% block body %}

    <div id = "main_container" class = 'container_form-common login_container'>
        <form id = "login_form" action = "#" method="post">
            <div class = "header-common">
                <h1>Авторизация</h1>
            </div>

            <div id = "error_box">
            </div>

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input name = "user_name" id = "user_name" type="text" required class = "form-control-common" placeholder="Введите Ваш Email:"><br>
            <input name = "user_pass" id = "user_pass" type="password" required class = "form-control-common" placeholder="Введите Ваш пароль"><br>
            <div>
                <div class = "checkbox">
                  <label class="checkbox style-g">
                    <input type="checkbox"  name = "user_save_me" id = "user_save_me"/>
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__body">Запомнить меня</div>
                  </label>
                </div>
            </div><br>
            <button type="submit" class = "btm_submit-common">Войти</button>
        </form>
    </div>

{% endblock %}
{% block js %}
<script type = "module" src="{{ url_for('static', filename = '/js/engine/modules/login.js') }}"></script>
{% endblock %}


