{% extends 'base.html' %}
{% block title %}
Авторизация в аккаунт пользователя
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/login.css') }}">
{% endblock %}

{% block body %}

    <div class = 'container_form'>
        {% if errors %}
            {% for error in errors.values() %}
                {% for item in error %}
                <div class = "error_message">{{ item }}</div><br>
                 {% endfor %}
            {% endfor %}
        {% endif %}

        <div class = "header">
            <h1>Авторизация</h1>
        </div>
        <form id = "login_form" action = "#" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <input name = "user_name" id = "user_name" type="text" required class = "form-control" placeholder="Введите Ваш Email:"><br>
            <input name = "user_pass" id = "user_pass" type="password" required class = "form-control" placeholder="Введите Ваш пароль"><br>
            <div>
                <div class = "checkbox">
                  <label class="checkbox style-g">
                    <input type="checkbox"  name = "user_save_me" id = "user_save_me"/>
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__body">Запомнить меня</div>
                  </label>
                </div>
            </div><br>
            <button type="submit" class = "btm_submit">Войти</button>
        </form>
    </div>

{% endblock %}
{% block js %}
<script type = "module" src="{{ url_for('.static', filename = '/js/login.js') }}"></script>
{% endblock %}


