{% extends 'base.html' %}

{% block title %}
Шаблоны сканировки
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/std.css') }}">
{% endblock %}

{% block body %}

{% if access_unit.is_sessions_start() == 1 %}
    {% if access_unit.is_avalible_any_access_field(access_section.SCAN_TEMPLATES) == True %}
    <div class = 'container-common container'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class = "header-common" id="block_scross_main">
            <h1>Шаблоны сканировки</h1>
        </div>

        <span id = 'seleketon_model_list'>
                  <div class="loaded-anim container">
                      <div class="box">
                          <div class="skeleton">
                            <div class="skeleton-left">
                                <div class="line h17 w40 m10"></div>
                                <div class="line"></div>
                                <div class="line h8 w50"></div>
                                <div class="line  w75"></div>
                            </div>
                            <div class="skeleton-right">
                              <div class="square"></div>
                            </div>
                        </div>
                    </div>
                </div>
       </span>

        <div class = 'table-templates' id = 'res_model_list_block'>

            <div class="block_btn">

            {% if access_unit.is_access_for_panel(access_type.ACCESS_SCAN_ADD) == True %}
                 <button id = "btn_create" type="submit" name = "create" value = "create" class = "btm_submit-common">Создать шаблон</button>
            {% endif %}

            </div>
            <p id="access_edit" hidden="">
                {% if access_unit.is_access_for_panel(access_type.ACCESS_SCAN_EDIT) == True %}
                    1
                {% else %}
                    0
                {% endif %}
            </p>
             <p id="access_del" hidden="">
                {% if access_unit.is_access_for_panel(access_type.ACCESS_SCAN_DELETE) == True %}
                    1
                {% else %}
                    0
                {% endif %}
            </p>
            <p id="access_create" hidden="">
                {% if access_unit.is_access_for_panel(access_type.ACCESS_SCAN_ADD) == True %}
                    1
                {% else %}
                    0
                {% endif %}
            </p>
            <p id="access_find" hidden="">
                {% if access_unit.is_access_for_panel(access_type.ACCESS_SCAN_FIND) == True %}
                    1
                {% else %}
                    0
                {% endif %}
            </p>
             <div id = "error_box">

            </div>
            <div id = "block_models_list">
                <table class = "custom-table" id = "table_models_list">
                   <tr>
                    <th>Устройство:</th>
                    <th>Тип:</th>
                    <th>Дата последнего изменения:</th>
                    <th>Действия:</th>
                   </tr>
                </table>
            </div>
        </div>
        <br>
        <div id = "block_edit">

             <span id = 'skeleton_edit_block'>
                  <div class="loaded-anim container">
                      <div class="box">
                          <div class="skeleton">
                            <div class="skeleton-left">
                                <div class="line h17 w40 m10"></div>
                                <div class="line"></div>
                                <div class="line h8 w50"></div>
                                <div class="line  w75"></div>
                            </div>
                            <div class="skeleton-right">
                              <div class="square"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <div class = "header-common">
                <h1><span id="model_name_field_edit"></span></h1>
            </div>
            <div class="block_btn inline_buttom">
                <button id = "btn_save_edit" type="submit" name = "save" value = "save" class = "btm_submit-common">Сохранить</button>
                <button id = "btn_edit_template_cancel_edit" type="submit" name = "save" value = "save" class = "btm_submit-common delete">Отмена</button>
            </div>
            <div id = "error_box_edit">

            </div>

        </div>

        <div id = "block_create">
            <span id = 'skeleton_create_block'>
                  <div class="loaded-anim container">
                      <div class="box">
                          <div class="skeleton">
                            <div class="skeleton-left">
                                <div class="line h17 w40 m10"></div>
                                <div class="line"></div>
                                <div class="line h8 w50"></div>
                                <div class="line  w75"></div>
                            </div>
                            <div class="skeleton-right">
                              <div class="square"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <div class = "header-common">
                <h1>Создание нового шаблона</h1>
            </div>
            <div class="block_btn inline_buttom">
                <button id = "btn_save_create" type="submit" name = "save" value = "save" class = "btm_submit-common">Сохранить</button>
                <button id = "btn_edit_template_cancel_create" type="submit" name = "save" value = "save" class = "btm_submit-common delete">Отмена</button>
            </div>
            <div id = "error_box_create">

            </div>

        </div>


    </div>
    {% endif %}
{% endif %}

<!--    <tr><td>data</td><td>ip</td></tr>-->
{% endblock %}
{% block js %}
<script type = "module" src="{{ url_for('static', filename = '/js/engine/modules/templates/std.js') }}"></script>
{% endblock %}

