* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;

  font-family: 'Poppins', sans-serif;

}

html, body {
  height: 100%;
}


.checkboxes {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.checkboxes__row {
  display: flex;
}
.checkboxes__row:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.checkboxes__item {
  padding: 15px;
  width: 50%;
}




/* STYLE G */

.checkbox.style-g {
  display: inline-block;
  position: relative;
  padding-right: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-g input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-g input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.checkbox.style-g input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
  left: 8px;
}
.checkbox.style-g input:checked ~ .checkbox__body {
  font-weight: bold;
}
.checkbox.style-g:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-g:hover input:checked ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-g .checkbox__checkmark {
  position: absolute;
  top: 1px;
  right: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  transition: background-color 0.25s ease;
  border-radius: 4px;
}
.checkbox.style-g .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: -20px;
  top: -8px;
  width: 15px;
  height: 25px;
  border: solid #f7cb15;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease, left 0.25s ease;
}
.checkbox.style-g .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: font-weight 0.25s ease;
}


/* THANKS */
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eee;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 60px;
}
.thanks > *:not(:last-child) {
  margin-right: 30px;
}


.error_message {
  display: inline-block;
  justify-content: center;
  border-top: 1px solid #eee;
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
  border-radius: 20px;
  background-color: red;
  font-size: 15px;
}

.success_message {
  display: inline-block;
  justify-content: center;
  border-top: 1px solid #eee;
  margin: 12px 12px 12px 12px;
  padding: 12px 12px 12px 12px;
  border-radius: 20px;
  background-color: green;
  font-size: 15px;
}


.form-contact .invalid {
         display: inline-block;
         background: #FF9898;
}
.form-contact .invalid-feedback {
         color: #CC0000;
}



.bwrapper {
  max-width: 60%;
  margin: 0 auto;
  height: auto;
  border-radius: 20px;
}

.bheader {
  width: 100%;
  height: 70px;
  padding-bottom: 2%;

}
.bfooter {
  box-sizing: border-box;
    width: 100%;
  margin-bottom: 0px;
}

.bcontent {
  position: relative;
  padding: 1% 1% 1% 1%;
  width: 100%; 
  margin: auto;
  /*background: #f7f7f7;*/
  border-radius: 20px;
  height: auto;
  
  border: 4px solid #737373;
  
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #f7f7f7;
  box-shadow: 5px 5px 5px grey;
}

.container {
  box-sizing: border-box;
  margin-bottom: 1.5%;
}

.container_form-common {
    display: block;
    text-align: center;
    position: relative;
    width: 80%;
    padding: 5px 5px 5px 5px;
    /*центрирование*/
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    border-radius: 30px;
    background-color: #cacbcc;
    box-shadow: 5px 5px 5px grey;
}

.container_form-common input.form-control-common {

    display: inline-block;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: 10%;
    font-size: 15px;
}
.container_form-common button.btm_submit-common {
    display: inline-block;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    font-size: 20px;
     user-select: none;
}
.container-common input.form-control-common {

    display: inline-block;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 50%;
    height: 10%;
    font-size: 15px;
}
.container-common button.btm_submit-common {
    display: inline-block;
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 5px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    font-size: 15px;
     user-select: none;
}

.container_form-common .header-common {
    font-size: 25px;
    padding-bottom: 15px;
}

.container_form-common .checkbox .checkbox__body {
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;

}


/* error box */
.error_form_box {

}


.error_form_box .alert {
  padding: 10px;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 20px;
}
.error_form_box .alert.error {background-color: #f44336;}
.error_form_box .alert.success {background-color: #04AA6D;}
.error_form_box .alert.info {background-color: #2196F3;}
.error_form_box .alert.warning {background-color: #ff9800;}


.error_form_box .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 32px;
  line-height: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.error_form_box .closebtn:hover {
  color: black;
}

.error_form_box .header_text, .main_text {
  font-size: 20px;
}


.container-common {
    display: block;
    text-align: center;

    width: 95%;
    padding: 5px 5px 5px 5px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    align-items: center;
    border-radius: 30px;
    background-color: #cacbcc;
    box-shadow: 5px 5px 5px grey;
}


.custom-table table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
/*колонки оглавления*/
.custom-table th {
  background: #d5dbe3;
  
  padding: 10px 20px;
}
.custom-table th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
.custom-table th:first-child, td:first-child {
  text-align: center;
}
.custom-table th:first-child {
  border-top-left-radius: 10px;
}
.custom-table th:last-child {
  border-top-right-radius: 10px;
  border-right: none;
}
/*столбцы*/
.custom-table td {
  padding: 10px 20px;
  background: #f0f1f2;
}
.custom-table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
.custom-table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.custom-table tr td:last-child {
  border-right: none;
}



/*loaded anim*/
/*https://codepen.io/munjewar/pen/eQZaGL*/

.loaded-anim *{
     box-sizing: border-box;
}
.loaded-anim body {
     margin: 0;
    background: #f0f0f0;
}
.loaded-anim.container {
     display: flex;
     justify-content: center;
     align-items: center;
}
.loaded-anim .box{
     width: 100%;
     padding: 0 15px;
}
.loaded-anim .skeleton {
     padding:15px;
     max-width: 80%;
     width: 100%;
     background: #fff;
     margin-bottom: 20px;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
     margin-left: auto;
     margin-right: auto;
}
.loaded-anim .skeleton .square {
     height: 80px;
     border-radius: 5px;
     background: rgba(130, 130, 130, 0.2);
     background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
     background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
     background-size: 800px 100px;
     animation: wave-squares 2s infinite ease-out;
}
.loaded-anim .skeleton .line {
     height: 12px;
     margin-bottom:6px;
     border-radius: 2px;
     background: rgba(130, 130, 130, 0.2);
     background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
     background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
     background-size: 800px 100px;
     animation: wave-lines 2s infinite ease-out;
}
.loaded-anim .skeleton-right{
    flex:1;
}
.loaded-anim .skeleton-left{
    flex:2;
    padding-right:15px;
}
.loaded-anim .flex1{
    flex: 1;
}
.loaded-anim .flex2{
    flex: 2;
}
.loaded-anim .skeleton .line:last-child{
    margin-bottom: 0;
}
.loaded-anim .h8{
    height: 8px !important;
}
.loaded-anim .h10{
    height: 10px !important;
}
.loaded-anim .h12{
    height: 12px !important;
}
.loaded-anim .h15{
    height: 15px !important;
}
.loaded-anim .h17{
    height: 17px !important;
}
.loaded-anim .h20{
    height: 20px !important;
}
.loaded-anim .h25{
    height: 25px !important;
}
.loaded-anim .w25{
    width: 25% !important
}
.loaded-anim .w40{
    width:40% !important;
}
.loaded-anim .w50{
    width: 50% !important
}
.loaded-anim .w75{
    width: 75% !important
}
.loaded-anim .m10{
    margin-bottom: 10px !important;
}
.loaded-anim .circle{
    border-radius: 50% !important;
     height: 80px !important;
     width: 80px;
}
 @keyframes wave-lines {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}
 @keyframes wave-squares {
    0% {
        background-position: -468px 0;
    }
     100% {
        background-position: 468px 0;
    }
}


.header-common {
  display: inline-block;
  background-color: #9da7b0;
  color: black;
  font-size: 20px;
  margin-bottom: 1.5%;
  border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  padding: 5px;
  user-select: none;
}

.border-common {
  border: 4px solid #737373;
  text-align: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* message window */
.box-window-common {

    position: fixed;
    align-items: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
    width: 800px;
    max-height: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    border-radius: 30px;
    background-color: #cacbcc;
    box-shadow: 5px 5px 5px 5px grey;
}
.box-window-common:hover {

    cursor: pointer;
}

.box-window-common .header {
  
  display: inline-block;
  background: #9da7b0;
  color: black;
  font-size: 30px;
  margin-bottom: 5%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 10px solid #a6afb7;
  padding: 10px;
  user-select: none;
}
.box-window-common .message {
  
  display: inline-block;
  background: #f0f1f2;
  color: black;

  font-size: 30px;
  margin-bottom: 5%;
  border-radius: 20px;
  padding: 10px;
  user-select: none;

}
/*captha */
.captha_box {
    display: inline-flex;
    margin: 10px 5px 10px 5px;
    align-items: center;
    box-shadow: 5px 5px 5px 5px grey;
    padding: 10px;
    border-radius: 10px;
}
.captha_box img.simple-captcha-img {
    float: left;
    margin-right: 10px;
    transition: height 2s, width 2s;
    width: 180px;
    height: 60px;
    user-select: none;

}
.captha_box img.simple-captcha-img:hover {
    width: 250px;
    height: 80px;
    /*pointer-events: none; запрет перетаскивания картинки но не работает увеличение*/
}


.captha_box input.simple-captcha-text {
    float: right;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
}
/*.captha_box .captha_box input.simple-captcha-text::placeholder-shown {  
    content: "Введите текст с картинки";
}
*/