{% extends 'base.html' %}

{% block title %}
Вход на сайт
{% endblock %}

{% block body %}

<div class = 'container'>
   <div class = 'container'>
       {{ errors }}
    <h1>Авторизация</h1>
    <form method="post">
        <input type="text" name = "user_name" class = "form-control" placeholder="Введите Ваш login:"><br>
        <input type="password" name = "user_pass" class = "form-control" placeholder="Введите Ваш пароль"><br>

        <div>
            <input type = "checkbox" name = "user_save_me"  id = "user_save_me" class = "btn btn-success">
            <label for="user_save_me">Запомнить меня</label><br><br>
        </div>
        <input type = "submit" class = "btn btn-success" value  = "Войти">
    </form>
    </div>
</div>

{% endblock %}

