{% extends 'base.html' %}
{% block title %}
Вход на сайт
{% endblock %}

{% block body %}

<div class = 'container'>
    <div class = 'container_login'>
           {% for error in errors.values() %}
                {{ error }}
           {% endfor %}
        <h1>Авторизация</h1>
        <form method="post">
            <input type="text" name = "user_name" class = "form-control" placeholder="Введите Ваш login:"><br>
            <input type="password" name = "user_pass" class = "form-control" placeholder="Введите Ваш пароль"><br>
            <div>
                <div>
                  <label class="checkbox style-g">
                    <input type="checkbox" name = "user_save_me"  id = "user_save_me"/>
                    <div class="checkbox__checkmark"></div>
                    <div class="checkbox__body">Запомнить меня</div>
                  </label>
                </div>
            </div><br>
            <input type = "submit" class = "btn btn-success" value  = "Войти">
        </form>
    </div>
</div>

{% endblock %}

