{% extends 'base.html' %}

{% block title %}
Вход на сайт
{% endblock %}

{% block body %}

<div class = 'container'>
   <div class = 'container'>
    <h1>Авторизация</h1>
    <form method="POST">
        <input type="text" name = "title" id = "user_name" class = "form-control" placeholder="Введите Ваш login:"><br>
        <input type="password" name = "intro" id = "user_pass" class = "form-control" placeholder="Введите Ваш пароль"><br>

        <div>
            <input type = "checkbox" id = "user_save_me" class = "btn btn-success">
            <label for="user_save_me">Запомнить меня</label><br><br>
        </div>
        <input type = "submit" class = "btn btn-success" value  = "Войти">
    </form>
    </div>
</div>

{% endblock %}

