{% extends 'base.html' %}

{% block title %}
Просмотр выбранной новости от {{ article.date.date() }}
{% endblock %}

{% block body %}

<div class = 'container mt-5'>
    <p>{{ article.title }}</p>

    <div class = 'alert alert-info'>
         <h1>{{ article.intro }}</h1>
         <h2><b>{{ article.text }}></b></h2>
        <a href = "/get-articles/{{ article.id }}/del" class="btn btn-danger">Удалить статью</a>
        <a href = "/get-articles/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>

{% endblock %}

