{% extends 'base.html' %}

{% block title %}
Вход на сайт
{% endblock %}

{% block body %}

<div class = 'container'>
    <h1>Добавление статьи</h1>
     {{ form.hidden_tag() }}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <! -- Если указать create-article то
    обработка будет происходить на этой же страничке.
    В том числе еслди вообще не добавлять этот атрибут, то будет тоже самое -->
</div>

{% endblock %}

