{% extends 'base.html' %}

{% block title %}
Настройки аккаунта
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename = 'css/config.css') }}">
{% endblock %}

{% block body %}
<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<div id = "checkbox_container" class = 'container-common container'>

    <div class = "header-common">
        <h1>Общие настройки</h1>
    </div>
     <form id = "settings_form_checkbox" action = "#" method="post">
        <div  id = "error_box_checkbox">
        </div>
        <div class = "">
            <div class = "checkbox">
              <label class="checkbox style-g">
                  <input {% if access_unit.get_session_var(access_type.ACCOUNT_TIMEOUT_EXIT) == 1 %}
                         checked
                         {% endif %}
                         {% if access_unit.get_session_var(access_type.ALEVEL) == alevel.ULEVEL_NONE %}
                         disabled
                         {% endif %}
                  type="checkbox"  name = "cb_timeout" id = "cb_timeout"/>

                <div class="checkbox__checkmark"></div>
                <div class="checkbox__body">Автоматический выход из аккаунта при отсутствии активности</div>
              </label>
        </div><br>
        </div>

        <button type="submit" class = "btm_submit-common">Сохранить</button>
    </form>
</div>
<div id = "field_setting_container" class = 'container-common container'>
    <div class = "header-common">
        <h1>Другие</h1>
    </div><br>
     <div class = "setting_repass">
         <div id = "btn_change_pass" class = "btn_change_pass">
           <span class = "btn_change_pass_boockmark_btn">
             Сменить пароль
         </span>
         <span id = "btn_change_pass_boockmark" class = "btn_change_pass_boockmark">

         </span>
         </div><br>
          <div class = "" id="repass_block">
             <form id = "settings_change_pass" action = "#" method="post">
                <div id = "error_box_fields">
                </div>

                  <input name = "old_pass" id = "old_pass" type="password" required class = "form-control-common" placeholder="Введите Ваш старый пароль:"><br><br>
                  <input name = "new_pass" id = "new_pass" type="password" required class = "form-control-common" placeholder="Введите Ваш новый пароль:"><br>
                 <input name = "renew_pass" id = "renew_pass" type="password" required class = "form-control-common" placeholder="Повторите Ваш новый пароль:"><br>
                <div class = "captha_box" id = "captha_block_id">
                {{ captcha_html(var_values.captcha)|safe }}
                </div><br>
                 <button id = "submit_repass" type="submit" class = "btm_submit-common">Сменить</button>
            </form>
          </div>
     </div>

</div>

<!--    <tr><td>data</td><td>ip</td></tr>-->
{% endblock %}
{% block js %}
<script type = "module" src="{{ url_for('static', filename = '/js/engine/modules/account/settings.js') }}"></script>
{% endblock %}

