
.container_login {
    display: inline-block;
    text-align: center;
    width: 40vw;
    height: 35vh;
    padding: 20px 20px 20px 20px;
    margin: 30px;
    position: relative;
    top: 30%;
    right: -10%;
    border-radius: 30px;
    
    background: #f7f7f7;
}

