

#logout_form .text {
    font-size: 30px;
    font-weight: bolder;
    padding: 2% 2% 2% 2%;
    user-select: none;
}
#logout_form .inline_buttom {
    display: block;
    text-align: center;
    position: relative;

    margin: 10px 10px 10px 10px;
    user-select: none;
}

#logout_form .inline_buttom .btm_submit-common {
    margin: 2%;
}
#logout_form .inline_buttom .btm_submit-common.yes {
    background: red;
}
.header-common {
   user-select: none;
}

